.App {
  text-align: center;
}

form {
  width: 70%;
  margin: 20px auto;
}

li.list-group-item {
  background-color: #118ab2;
  color: white;
}

ul.list-group {
  justify-content: space-between;
  width: 500px;
  margin: 20px;
  display: inline-flex;
  list-style: none;
}


@media (min-width: 992px) {
header.navbar-expand-lg {
    justify-content: center;
    background-color: #073b4c;
}
}
